@import url('https://fonts.googleapis.com/css2?family={font_family}&family={name_font_family}');
:root {
  --background: {background_color};
  --text-color: {text_color};
  --font-family: '{font_family}';
  --font-size: {font_size};
  --message-hide-delay: {message_hide_delay};

  --name-font-family: '{name_font_family}';
  --name-font-size: {name_font_size};

  --streamer-background: {streamer_background_color};
  --streamer-text: {streamer_text_color};
  --streamer-avatar: url('{streamer_avatar}');
  --streamer-avatar-transform: {streamer_avatar_transform};
  --streamer-backdrop-filter: {streamer_backdrop_filter};

  --chatter-background: {chatter_background_color};
  --chatter-text: {chatter_text_color};
  --chatter-backdrop-filter: {chatter_backdrop_filter};
  --chatter-avatar: url('{chatter_avatar}');
  --chatter-name-color: {chatter_name_color};
  --chatter-avatar-transform: {chatter_avatar_transform};

  --bubble-radius: {bubble_border_radius};
  --bubble-width: {bubble_width};
  --bubble-offset: {bubble_offset};
  
  --avatar-scale: {avatar_scale};
  --avatar-size: calc(var(--avatar-scale) * var(--font-size));

  --big-emote-scale: {big_emote_scale};
  --big-emote-size: calc(2 * var(--font-size));
}

// :root {
//   --background: transparent;
//   --text-color: #ccd;
//   --font-family: 'Noto Sans JP';
//   --font-size: 24px;
//   --message-hide-delay: 10s;
//
//   --streamer-background: rgba(222, 225, 255, 0.5);
//   --streamer-text: rgba(100, 90, 156);
//   --streamer-avatar: url('https://s3.eu-central-1.amazonaws.com/kouna-sharex/2024/04/Illustration116_mid.png');
//   --streamer-backdrop-filter: none;
//
//   --chatter-background: #27373f6f;
//   --chatter-text: #ccd;
//   --chatter-avatar: url('https://s3.eu-central-1.amazonaws.com/kouna-sharex/2024/04/Illustration116_mid.png');
//   --chatter-backdrop-filter: none;
//
//   --bubble-radius: 0.5em;
//
//   --avatar-scale: 3;
//   --avatar-size: calc(var(--avatar-scale) * var(--font-size));
//
//   --big-emote-scale: 2;
//   --big-emote-size: calc(2 * var(--font-size));
// }

body {
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size);
  background: var(--background);
  background-size: cover;
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

#log {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;

  display: flex;
  flex-flow: column;
  gap: 0.5em;

  & > div {
    position: relative;
    margin-top: 0.4em;

    .emote {
      position: relative;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
  
      img {
        display: inline-block;
        width: var(--font-size);
        opacity: 0;
      }
    }
    
    .message.emote-only {
      .emote {
        img {
          width: var(--big-emote-size);
        }
      }
    }
  
    .colon {
      display: none;
    }
  
    & > .message {
      word-wrap: break-word;
      text-overflow: ellipsis;
    }

    &.deleted {
      visibility: hidden;
    }

    
    & > .avatar {
      position: absolute;

      display: block;
      width: var(--avatar-size);
      height: var(--avatar-size);
      max-height: 100%;
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      z-index: 0;
    }

    & > .meta {
      position: absolute;
      top: 0;
      transform: translate(0, -50%);

      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      gap: 0.25em;

      font-size: 0.8em;
      z-index: 1;
      white-space: nowrap;
  
      &::before {
        content: '';
        display: inline-block;
        flex: 1 1 auto;
        min-width: 2em;
      }

      & > .name {
        color: var(--chatter-name-color);
        font-family: var(--name-font-family);
        font-size: var(--name-font-size);
        text-shadow: 1px 2px 2px rgba(0,0,0,0.5), -1px 2px 2px rgba(0,0,0,0.5);
        z-index: 2
      }

      & > .badges {
        flex: 0 1 auto;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;

        gap: 0.25em;

        .badge {
          display: block;
          height: 1em;

          &:nth-child(4n+1) {
            transform: rotate(0deg);
          }

          &:nth-child(4n+2) {
            transform: rotate(15deg);
          }

          &:nth-child(4n+3) {
            transform: rotate(-15deg);
          }

          &:nth-child(4n) {
            transform: rotate(15deg);
          }
        }
      }
    }

    &.streamer {
      margin-left: var(--bubble-offset);
      max-width: var(--bubble-width);
      min-height: 1.5em;

      animation: fadeInLeft .3s ease forwards, fadeOut 0.5s ease var(--message-hide-delay) forwards;
      -webkit-animation: fadeInLeft .3s ease forwards, fadeOut 0.5s ease var(--message-hide-delay) forwards;

      & > .avatar {
        top: 0;
        left: 0;
        transform: var(--streamer-avatar-transform);
        background-image: var(--streamer-avatar);
        background-position: 100% 50%;
        z-index: 1;
      }

      & > .meta {
        display: none;
      }

      & > .message {
        display: inline-block;
        position: relative;
        background: var(--streamer-background);
        backdrop-filter: var(--chatter-backdrop-filter);
        color: var(--streamer-text);
        padding: 0.5em;
        border-radius: var(--bubble-radius) var(--bubble-radius) var(--bubble-radius) 0.125em;
        max-width: 100%;
      }
    }

    &:not(.streamer) {
      align-self: flex-end;
      position: relative;
      display: flex;
      flex-flow: column;
      margin-right: var(--bubble-offset);
      max-width: var(--bubble-width);

      animation: fadeInRight .3s ease forwards, fadeOut 0.5s ease var(--message-hide-delay) forwards;
      -webkit-animation: fadeInRight .3s ease forwards, fadeOut 0.5s ease var(--message-hide-delay) forwards;

      &>.avatar {
        position: absolute;
        top: 0;
        right: 0;
        transform: var(--chatter-avatar-transform);
        background-image: var(--chatter-avatar);
        background-position: 0 50%;
        z-index: 1;
      }

      & > .meta {
        right: 0;
      }

      & > .message {
        position: relative;
        display: block;
        flex: 0 1 auto;
        align-self: flex-start;
        padding: 0.5em;
        max-width: 100%;
        z-index: -1;

        border-radius: var(--bubble-radius) 0 var(--bubble-radius) var(--bubble-radius);
        background: var(--chatter-background);
        backdrop-filter: var(--chatter-backdrop-filter);
      }
    }
  }
}
